.chart {
   margin: 20px;
   padding: 20px;
   box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   -webkit-box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   -moz-box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   border-radius: 10px;
}
h3.chart-title {
   color: var(--textColor);
   letter-spacing: 1px;
}