.product {
   flex: 4;
   padding: 20px;
}
.product-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;  
}
.product-title {
   color: var(--textColor);
}
.product-top {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   padding: 0 20px 20px 0;
   flex-wrap: wrap; 
}
.product-top-right,.product-bottom {
   padding: 20px;
   margin-left: 20px;
   box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   -webkit-box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   -moz-box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   border-radius: 10px;  
}
.product-info-bottom {
   margin-top: 25px; 
}
.product-info-top {
   display: flex;
   align-items: center;
}
.product-name {
   margin-left: 20px;
   color: var(--textColor);
   letter-spacing: 1px;
   font-weight: 500;
}
.product-top-right img {
   border-radius: 10px;
   width: 60px;
   height: 60px;
   object-fit: cover;
}
.product-info-item {
   width: 150px;
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between;
   color: var(--textColor);
   letter-spacing: 1px;
}
.product-bottom {
   margin: 20px;
   width: 700px;
}
.product-form {
   display: flex;
}
.product-form-left {
   display: flex;
   flex-direction: column;
   margin-right: 30px;
}
.product-form-right {
   display: flex;
   align-items: center;
}
.product-form-right img {
   margin-right: 20px;
   border-radius: 10px;
   width: 270px;
   height: 250px;
   object-fit: cover;
}
.product-form-left>label {
   margin-bottom: 5px;
   font-size: 17px;
   color: var(--textColor);
}
.product-form-left>input {
   width: 270px;
   height: 33px;
   padding: 5px;
   outline: none;
   border: 1px solid var(--textColor);
   border-radius: 5px;
   margin-bottom: 20px;
}
.product-form-left>label:nth-child(5) {
   margin-top: 20px;
}
.product-form-left #in-stock,#in-active {
   width: 270px;
   padding: 5px;
   margin-bottom: 20px;
}
.product-form-left>label:nth-child(6) {
   margin-top: 20px;
}
.product-form-left #is-new,#in-active {
   width: 270px;
   padding: 5px;
   margin-bottom: 20px;
}





