.topbar {
   width: 100%;
   height: 45px;
   background-color: var(--topColor);
   position: sticky;
   top: 0;
   z-index:999;
}  
.topbar-wrapper {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}
.top-right {
   width: 100px;
   height: 50px;
   padding: 20px;
   background-color: white;
   position: absolute;
   top: 43px;
   right: 5px;
   background-color: #45c4b0;
   box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.56);
   -webkit-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.45);
   -moz-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.56); 
}
.top-right::before {
   content: "";
   display: block;
   position: absolute;
   top: -10px;
   left: 60px;
   border-left: 0;
   width: 0; 
   height: 0; 
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #45c4b0;
}
.topbar-icon-container {
   position: relative;
   margin-left: 15px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 45px;
}
span.logo {
   color: #fff;
   font-size: 19px;
   font-weight: 500;
   letter-spacing: 2px;
}
.username {
   color: #9AEBA3;
}
.open-user {
   letter-spacing: 1px;
   color: white;
   margin-right: 10px;
}
