.widget-left {
   flex: 2;
   margin: 20px;
   padding: 20px;
   box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   -webkit-box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   -moz-box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   border-radius: 10px;
  
}
.widget-left-title {
   font-size: 17px;
   letter-spacing: 1px;
   
}
.widget-left-item {
   list-style: none;
   display: flex;
   justify-content: space-between;
}

.widget-left-img {
   width: 40px;
   height: 40px;
   border-radius: 50%; 
   
   object-fit: cover;  
}
.widget-left-user {
   margin: 15px 0;
   display: flex;
   flex-direction: column;
}
.widget-left-username {
   letter-spacing: 1px;
   margin-bottom: 5px;
}
.widget-left-dev {
   color: var(--textColor);
   letter-spacing: 1px;
}
.widget-left-btn {
   border: none;
   width: 90px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   color: var(--textColor);
   cursor: pointer;
}