.order {
  flex: 4;
  padding: 20px;
}
.order-container {
  display: flex;
  margin-top: 20px;

}
.order-show {
   flex: 1;
   padding: 20px;
   box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   -webkit-box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   -moz-box-shadow: 0px 0px 8px -2px rgba(54, 51, 51, 0.75);
   border-radius: 10px;
   flex: 0 0 72%;
}
.products {
  position: relative;
  display: flex; 
  justify-content:space-between;
  color:rgb(80, 75, 75);
  letter-spacing: 1px;
  margin-bottom: 30px;

}
.product-img {
   width: 90px;
   height: 90px;
}
.product-wrapper {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: left;
  padding-left: 20px;
  padding-right: 20px
}
.product-wrapper,.size,.color {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}
.amount {
  display: flex;
  justify-content: space-between;
  padding:0;
}
.amount,.multiple {
  padding-left: 30px;
  padding-right: 30px;
}
.product-total{
  margin-left: 70px;
}
.order-total {
  display: flex;
  justify-content: flex-end;
  color: var(--textColor)
}
.price-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
}
.price {
  margin-left: 16px;
}
.origin-price {
 text-decoration: line-through;
}
.product-total {
  font-size: 18px;
}
.order-discount {
  position: absolute;
  top: 20px;
  left: 18px;
  background-color: #db2020;
  color: #ffff;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 500;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-shipping {
  padding: 20px;
  color: var(--textColor);
  font-weight: 200;
  margin-top: 30px;
  letter-spacing: 1px;
  
}

.order-shipping .info-wrapper h3{
   font-weight: 500;
   text-align:justify;
}
.order-shipping h2 {
  margin-bottom: 30px;
}
.order-shipping h3 {
   text-transform: capitalize;
}
.order-status{
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}
select.status-change {
  padding: 5px 10px;
  font-size: 16px;
  letter-spacing: 1px;
  width: 150px;
}
