body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link{
  text-decoration: none;
  color: #9AEBA3;
  font-weight: 600;
  text-shadow: black 1px 1px;
  letter-spacing: 1.5px;
  margin-bottom: 3px;
}
.auth-container {
  width: 100vw;
  height: 100vh;
  padding-top: 180px;
  background: url("https://img.freepik.com/free-photo/full-length-portrait-cheerful-family_171337-2283.jpg?w=1380&t=st=1671194671~exp=1671195271~hmac=725f17a3e14bf1912911a3b7f02b5a5db3fc9577383e1ee227b182307c24570c"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); /* Blago zatamnjena pozadina */
  z-index: 5; /* Niže od search inputa */
}

form.form-auth,.form-checkout {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 100px;
  background-color: #2f9d8d;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.80);
 -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.80);
 -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.80);

}
h1,h2 {
  font-weight: 600;
}
button.auth-btn {
  padding: 8px 20px;
  margin-top: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border: none;
  color: #012030;
  background-color:#9AEBA3;
  border: 2px solid #45C4B0; 
  display: block;
  transition: 0.2s ease-in-out;
  margin-bottom: 15px;
}

button.auth-btn:hover {
  transform: scale(1.01); 
  background-color:  #45C4B0;
  border: 2px solid #9AEBA3; 
  cursor: disabled;
}
button.auth-btn:disabled {
  cursor: not-allowed;
}
button.checkout-btn,button.pay-btn {
  padding: 11px 10px;
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #252424;
  border: none;
  color: #ffff;
  cursor: pointer;
}
.loading {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  
}
.loading,img {
  color: #2f9d8d;
}
.original-price {
  font-size: 21px;
  font-weight: 600;
  color: #2c2c2c;
  text-decoration-line: line-through;

}
.discounted-price {
  color: #f13434;
  font-size: 21px;
  font-weight: 600;
  margin-top: -20px;
}
.discount-product {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: -10px;
  background-color: #ee6565;
  color: #fff;
  padding: 5px 10px;
  border-radius: 1px; 
}
.out-stock-product {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: -10px;
  background-color: #ee6565; 
  color: #fff;
  padding: 5px 10px;
}
.new-product {
  position: absolute;
  z-index: 10;
  bottom: 40px;
  right: 0px;
  background-color: #2065db;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span.status-processing {
  background-color: #f73b3b;
  color: #ffff;
  padding: 2px 9px;
 
}
span.status-delivered {
  background-color: #109710;
  color: #ffff;
  padding: 3px 15px;
 
}
button.order-btn {
  background-color: #9AEBA3;
  border: 1px solid #45C4B0;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.results-not-found {
  position: absolute;
   background: white;
   border: 0px solid #ddd;
  /* display: none;*/
  text-align: center;
   width: 100%;
   z-index: 10;
}
/* RESPONSIVE */
@media only screen and (max-width: 480px) {
  form.form-auth,.form-checkout {
    width: 260px;
    padding: 20px;
  }
}
