.product-list {
   flex: 4;
}
.product-data  {
  position: relative;

}
.discount {
 position: absolute;
 top: -8px;
 left: -10px;
 background-color: #db2020;
 color: #ffff;
 border-radius: 50%;
 font-size: 10px;
 font-weight: 500;
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.stock {
  position: absolute;
  top: -8px;
 left: 22px;
 background-color: #db2020;
 color: #ffff;
 border-radius: 50%;
 font-size: 10px;
 font-weight: 500;
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.new {
 position: absolute;
 bottom: -8px;
 left: -10px;
 background-color: #2065db;
 color: #ffff;
 border-radius: 50%;
 font-size: 10px;
 font-weight: 500;
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
}
